<div class="container d-flex flex-column align-items-center justify-content-center h-100">
    <h1 style="max-width: 600px; text-align: center;">{{error}}</h1>
    <a href="/{{route}}"><button class="btn btn-primary mt-4">Ir a la página de {{page}}</button></a>
</div>