<div class="w-100 d-flex align-items-center justify-content-center">
    <div class="container d-flex flex-column align-items-center justify-content-center">
        <h1 class="mb-5">Ecommerce | Registro de usuario</h1>
        <form style="width: 60%;" class="d-flex flex-column gap-1" action="/api/sessions/register" method="post">
            <div class="input-group mb-3">
                <span class="input-group-text">Nombre</span>
                <input type="text" name="first_name" class="form-control" placeholder="Ingresa tu nombre"
                    aria-label="first_name" aria-describedby="basic-addon1" required>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Apellido</span>
                <input type="text" name="last_name" class="form-control" placeholder="Ingresa tu apellido"
                    aria-label="last_name" aria-describedby="basic-addon1" required>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Email</span>
                <input type="email" name="email" class="form-control" placeholder="Ingresa tu email" aria-label="email"
                    aria-describedby="basic-addon1" required>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Edad</span>
                <input type="number" name="age" class="form-control" placeholder="Ingresa tu edad" aria-label="age"
                    aria-describedby="basic-addon1" required>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Contraseña</span>
                <input type="password" name="password" class="form-control" placeholder="Ingresa tu contraseña"
                    aria-label="password" aria-describedby="basic-addon1" required>
            </div>
            <input class="btn btn-primary mb-1" type="submit" value="Registrar usuario">
            <a href="/login" class="btn btn-outline-primary">Regresar al login</a>
        </form>
    </div>
    <img style="height: 100vh; object-fit: cover;" class="w-50" src="/img/banner.jpg" alt="banner-ecommerce">
</div>